*{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	flex: auto;
	justify-content: space-between;
}
.l-header,
.l-presentacion,
.l-informacion,
.l-cita,
.l-llamada-accion,
.l-footer{
	display: flex;
	flex: auto;
	max-width: 70%;
	min-height: 100vh;
	margin: 20px;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}