.l-header{
	display: flex;
	flex: 0 0 auto;
	justify-content: space-between;
	width: 70%;
	padding: 20px;
	max-height: fit-content;
}
.l-header__nav-bar{
	display: flex;
	align-items: center;
}
.l-header__links{
	display:flex;
	gap: 20px;
}