body{
	font-family: var(--font-family);
}
.c-header,
.c-presentacion,
.c-footer{
	display: flex;
	flex: 0 0 auto;
	background-color: var(--color-bg-oscuro);
	color: var(--color-fg-claro-1);
	align-items: center;
	justify-content: center;
}