.c-presentacion{
	flex: 1 0 auto;
}
.c-presentacion__titulo{
	font-size: var(--fuente-xxg);
	font-weight: 900;
}
.c-presentacion__descripcion{
	color: var(--color-fg-claro-2);
}
.c-presentacion__boton{
	width: fit-content;
	padding: 4px 25px;
	border-radius: 6px;
	background-color: var(--color-bg-acento);
}
.c-boton__link{
	color: var(--color-fg-claro-1);
	font-weight: bold;
	width: auto;
}
.c-presentacion__portada{
	width: 60%;
	height: auto;
	border-radius: 10px;
}
